head{
  background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3))
              url(./pic/背景图.jpg);
  position: relative;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  line-height: 1.6;
}

h1{
  position: absolute;
  left: 50%;
  top: 50%;
  color: white;
  font-family: 'Arial', sans-serif;
  transform: translate(-50%, -50%);
}

p{
  position: absolute;
  left: 50%;
  top: 50%;
  color: white;
  font-family: 'Arial', sans-serif;
  transform: translate(-50%,-50%);
}

a:link {
  text-decoration: none;
}